# Sanity CMS
# https://www.sanity.io/manage
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01

# Instagram Graph API (Meta for Developers)
# https://developers.facebook.com/docs/instagram-platform
INSTAGRAM_ACCESS_TOKEN=
INSTAGRAM_USER_ID=

# E-commerce (Stripe recommended for print sales)
# https://stripe.com/docs
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# Site
NEXT_PUBLIC_SITE_URL=http://localhost:3000
